// http://ionicframework.com/docs/v2/theming/


// App Shared Sass
// --------------------------------------------------
// CSS that should apply to the app for every mode


// App Shared Imports
// --------------------------------------------------
// These are the various page imports which make up this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/login/login";
@import "../pages/addquizquestion/addQuizQuestion";
@import "../pages/signup/signup";
@import "../pages/dashboard/dashboard";
@import "../pages/profile/profile";
