<ion-navbar *navbar primary>
  <ion-toolbar>
    <ion-title>{{quizName}}</ion-title>
  </ion-toolbar>
</ion-navbar>

<ion-content class="home" padding>

    <ion-item>
      <ion-label floating>Question</ion-label>
      <ion-input type="text" [(ngModel)]="quizQuestion"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label>Options Type</ion-label>
        <ion-select [(ngModel)]="optionsType">
          <ion-option value="radio">Radio</ion-option>
          <ion-option value="check box">Check Box</ion-option> 
        </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Write Answer</ion-label>
      <ion-select [(ngModel)]="writeAnswer">
        <div *ngFor="let i of options; let k = index">
          <ion-option value="{{k+1}}">Option {{k+1}}</ion-option>
        </div>
      
      </ion-select>
    </ion-item>

  <div *ngFor="let i of options; let k = index;">
    <ion-item>
      <ion-label floating>Option {{k+1}}</ion-label>
      <ion-input type="text" [(ngModel)]="i.option"></ion-input>
    </ion-item>
  <button fab (click)="addQuizQuestions()" [disabled]="!quizQuestion || !i.option"><ion-icon name="add"></ion-icon></button>
  </div>


<button block primary (click)="submitQuizQuestion()" class="top_addQuiz" [disabled]="!quizQuestion || !optionsType || !writeAnswer ">Submit Question</button>
  

</ion-content>